#btnBack{
    visibility: hidden;
}

#navbar-container{
   /* margin-bottom: 5%; */
}

textarea{
    overflow: scroll;
    resize: none;
    height: 250px;
}

li{
    margin-right: 3%;
}

thead{
    background: #007bff;
}

.table-reponsive-xl{
    margin-top: 5%;
    width: 100%;
}

.btn{
    height: 50px;
    width: 150px;
    font-size: small;
}

.sm-btn{
    height: 35px;
    width: 100px;
}

.lg-btn{
    height: 50px;
    width: 100px;
}

.modal-header{
    background: linear-gradient(to top, #005bbf 20%, white);
}

.modal-content {            
    padding:9px 15px;
    background:linear-gradient(to bottom, white, #c3c0c4);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-radius: 5px;
}

Label {
    display: inline-block;
    width: 100px;
}

button:hover, .button:hover {
    opacity: 0.8;
} 

.img-maintenance{
    height: 50%;
    width: 50%;
}

.logoCompany{
    height: 80%;
    width: 100%;
}

.user_card {
    height: 400px;
    width: 350px;
    background: linear-gradient(to top, #005bbf 20%, white);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.modal-content {
    padding:9px 15px;    
    background:linear-gradient(to bottom, white, #c3c0c4);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-radius: 5px;
}

.icon_user{
    background:linear-gradient(to bottom, #fd7e14, #feb77c);
    font-size: 70px;
    color:#FFFFFF;
    border-radius: 200px;
    padding: 30px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #c9c9c9, white);
    background-repeat: no-repeat;
}

input[type=text], input[type=password], input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.login_btn{
    background-color: #EBBE20;
    color: white;
    margin: 2% 25% 2%;
    cursor: pointer;
    width: 50%;
    font-size: 110%;
}    

.brand_logo_container {
    border-radius: 50%;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

h2{
    padding-top: 5%;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.2;
    color: inherit;
    align-content: center;
}

.header-container{
    margin-top:     3%;
    margin-bottom:  3%;
    width:          100%;
}

.body-container{
    max-height:     50%;
    width:          120%;
}

.footer-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.my-custom-scrollbar{
    position: relative;
    height: 30%;
    overflow: auto;
    display: block;  
}

.table-modal{
    position: relative;
    height: 100%;
    overflow: auto;
    display: block;  
}
